<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home Page</title>
	<style>
		html {
			font-size: 30px;
			background-image: url("background.jpeg");
			color: darkmagenta;
			background-repeat: no-repeat;
  			background-size: cover;
		}
	</style>
</head>

<body>
	<h1>Kanyearbook - The New Yearbook</h1>
	<div>
		<h3>This is an innovative type of yearbook, one where Kanye quotes supplement creativity!</h3>
		<ul>
			<li>To add an entry hit <a href="/entry">Add a Yearbook Entry</a></li>
			<li>To view the yearbook select <a href="/view">View Yearbook</a></li>
		</ul>
	</div>
</body>

</html>
