<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Show Application Page</title>
	<style>
		html {
			font-size: 14px;
			background-image: url("bees.jpeg");
			color: darkmagenta;
			background-repeat: no-repeat;
  			background-size: cover;
			text-align: center;
		}
	</style>
</head>

<body>
	<h1>Yearbook Entry Data</h1>
	<strong>Name: </strong> <%- name %> <br>
	<strong>Major: </strong> <%- major %> <br>
	<strong>Quote: </strong> <%- quote %> <br> <hr> <br> 
	<a href="/">HOME</a>
</body>

</html>
