<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Our Kanyearbook</title>
	<style>
		html {
			font-size: 14px;
			background-image: url("bees.jpeg");
			color: darkmagenta;
			background-repeat: no-repeat;
  			background-size: cover;
			text-align: center;
		}
		.center {
			margin-right: auto;
			margin-left: auto;
		}
	</style>
</head>

<body>
	<h1>Our Kanyearbook</h1>
	<%- entry_table_str %>
	<a href="/">HOME</a>
</body>

</html>
